@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --space-s: 14px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 28px;
  --space-xxl: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.card {
  padding: clamp(24px, 1.502vw + 18.366px, 40px);
  margin: var(--space-l);
  width: 384px;
  background-color: var(--grey-800);
  border-radius: 12px;
  font-size: var(--space-m);
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}
.card-top img {
  border-radius: 100%;
  margin-bottom: var(--space-xl);
}
.card-top h1 {
  font-size: var(--space-l);
  font-weight: 700;
  margin-bottom: var(--space-s);
}
.card-top .address {
  color: var(--green);
  font-size: var(--space-s);
  font-weight: 700;
  margin-bottom: var(--space-xl);
}

.card-top .decription {
  font-size: var(--space-s);
}

.card ul {
  list-style-type: none;
}

.card li {
  margin-top: var(--space-m);
  background-color: var(--grey-700);
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.card li a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--space-s);
  font-weight: 600;
}

.card li:hover,
.card li:focus-within {
  background-color: var(--green);
}
.card li:hover a,
.card a:focus {
  color: var(--grey-900);
  outline: none;
}
